

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* body{
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  
} */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: 0.7s;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #940436 50%,
    #0388c5 0%,
    #ff9900 50%
  );
  padding: 15px 20px;
  z-index: 10;
}
header.abajo {
  background: #fff;
  padding: 15px 20px; 
}
header .logo {
  position: relative;
  color: rgb(255, 255, 255);
  font-weight: bold;
  letter-spacing: 2px;
  transition: 1.5s;
  text-decoration: none;
}











nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 9.2%;}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  list-style: none;
}
header ul li a {
  position: relative;
  font-family: helvetica;
  left: 270px;
  margin: 15px;
  text-decoration: none;
  color: white;
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.7s;
}
header.abajo .logo,
header.abajo ul li a {
  color: white;
}












.contenedor {
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.titulo {
  font-size: 50px;
  text-align: center;
  margin-bottom: 60px;
}













.card-itineraries{
  
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card-header  {

width: 450%;

}


.descripcion, p {
  margin: 0px;
text-align:initial;

}

.cardcontainer {

position: relative;
height: 100px;
margin-top: 100px;

}


.cards img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
}

#footer.solid-bg {
  background-color: #8b30a1;
  background-image: linear-gradient(
    43deg,
    #940436 50%,
    #0388c5 0%,
    #ff9900 50%
  );
}

.footer {

  display: flex;
  justify-content: center;
  align-items: center;

 }

#footer .wf-container-footer {
  padding-top: 20px;
  padding-bottom: 5px;
  margin: 0%;
}

  #footer .wf-container {
  margin: 0 -25px;
  }
 
.widget.widget_media_image.wf-cell.wf-1-3 {
  margin-top: -30px !important;
  text-align: center !important;
}

.footer .widget,
.footer .tp_recent_tweets li {
  font-size: 14px;
  line-height: 25px;
}
.footer .widget {
  color: #ffffff;
  padding: 0 25px;
}
.footer .widget {
  box-sizing: border-box;
}
/* .footer .widget {
  margin-bottom: 30px;
} */
.footer .widget {
  color: #ffffff;
}
.textwidget * {
  text-align: center;
}

/*Redes sociales que están en el footer*/
.buttons {
  min-width: 500px;
  display: flex;
  justify-content: space-around;
}

.buttons a {
  text-decoration: none;
  font-size: 28px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: #7167ad;
  color: #f1f1f1;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}














.nav-link-signin{
  position: fixed;
  top: 3%;
  right: 1em;
  font-size: 3em;
}

.logueado{
  position: fixed;
  top: 1em;
  right: 1em;
  height: 5em;
  background-color: white;
  box-shadow: inset 0 0 5px black;
}